
<div class="footer">
    <h2 class="copy">CopyRight @ <%= new Date().getFullYear(); %></h2>
    <ul>
       
        <li><a href="#"><button>About</button></a></li>
        <li><a href="#"><button>Conatct</button></a></li>
        <li><a href="#"><button>Git</button></a></li>
     </ul>
</div>
